<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "base.html" %}

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admindashStyle.css')}}">
    
</head>

<body>
    <header>
        <div class="navbtn">
            <button class="openbtn" onclick="openNav()">☰</button>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="dashboard">Dashboard</a>
                <a href="signin">Mark Attendance</a>
                <a href="attendance_logs">Attendance Logs</a>
                <a href="settings">Settings</a>
                <a href="election">Set Election</a>
                <a href="election_clear">Clear Election</a>
                <br>
                <br>
                <br>
                <br>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="heading">
            <img src="{{url_for('static', filename='images/LOGO.jpg')}}" alt="NIESAT Logo" width="100" height="100" />

            <div>
                <h3>NIESAT Control Centre</h3>
                <h4>Kwara State Chapter</h4>
            </div>
        </div>
    </header>

    <div class="rows">
        <div class="container-fluid">
            <h1 class="text-center">Admin Dashboard</h1>
            <div class="row mt-4">
                <!-- Form field -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">User Information</h5>
                            <form method="POST" class="form" action="{{ url_for('routes.update_latecomer')}}">
                                <div class="form-group">
                                    <div class="msg-area"></div>
                                    <label class="form-label" for="state_code">State Code</label>
                                    <input class="form-control" id="stateCodeInput" maxlength="11" minlength="1"
                                        pattern="[Kk][Ww]/\d{2}[a-cA-C]/\d{4}"
                                        title="Must contain correct and complete statecode: KW/XXX/XXXX"
                                        name="state_code" type="text" placeholder="KW/XXX/XXXX" value="" required="">

                                </div>
                                <button type="button" class="btn btn-primary" id="check-button">Check
                                    <span id="spinner" class="btnspinner hide"></span>
                                </button>

                                <div class="form-group">
                                    <label class="form-label" for="balance">Amount</label>
                                    <input class="form-control" id="amount-id" name="amount" required="" type="text"
                                        value="" readonly>

                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="status">Status</label>
                                    <select class="form-select" id="status" name="status" required="">
                                        <option value="" selected disabled>Select Status</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Approved">Approved</option>
                                    </select>
                                </div>

                                <button class="btn btn-primary update" id="update" name="submit" type="submit">Update
                                    <span id="spinner" class="updatespn btnspinner hide"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Requests Table -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Requests</h5>
                            <div class="table-responsive">
                                <table class="table table-striped mt-4 table_reform">
                                    <thead>
                                        <tr>
                                            <th>S/N</th> <!-- Serial Number Column -->
                                            <th>Date</th>
                                            <th>State Code</th>
                                            <th>Request Type</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if pending_requests %}
                                        {% for request in pending_requests %}
                                        <tr>
                                            <td>{{ loop.index }}</td> <!-- Serial Number -->
                                            <td>{{request.transaction_date}}</td>
                                            <td>{{request.state_code}}</td>
                                            <td>{{request.request_type}}</td>
                                            <td>{{request.amount}}</td>
                                            <td>{{request.status}}</td>
                                            <td>{{request.log_time}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="7" class="text-center">No late sign-in requests found for
                                                today.
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>dashUrl=`{{url_for('routes.admindash')}}`</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/adminDashboard.js') }}"></script>
   
</body>

</html>