<!DOCTYPE html>
<html>

<head>
	<title>NIESAT Admin Login</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/adminLoginStyle.css')}}">
</head>

<body>
	<header>
		<img src="{{url_for('static', filename='images/LOGO.jpg')}}" alt="NIESAT Logo" width="80" height="80" />

		<h1>NIESAT Control Centre</h1>
		<h4>Kwara State Chapter</h4>
	</header>
	<main>
		<form action="{{ url_for('routes.admin') }}" id="loginForm" method="POST" onsubmit="return handleLogin()">
			<h2>Admin Login</h2> <br><br>

			<div class="regErrorMsg">{{regErrorMsg}} </div>

			<label for="username">Username</label>
			<input type="text" id="username" name="adminusr" required>

			<label for="statecode">Password</label>
			<input type="password" id="password" name="adminpwd" required>

			<button type="submit">Login</button>

		</form>
	</main>

	<!-- Overlay with loading spinner and message -->
	<div id="overlay" class="overlay">
		<div id="loadingSpinner" class="spinner"></div>
		<div id="messagePopup" class="message-popup"></div>
	</div>

	<script>
		// Pass the Jinja URL to JS
		const dashboardUrl = "{{ url_for('routes.admindash') }}";
	</script>
	<script src="{{ url_for('static', filename='js/adminLogin.js') }}"></script>
</body>

</html>