<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/adminsettingsStyle.css')}}">

    <title>Admin Settings</title>
</head>

<body>
    <header>
        <div class="navbtn">
            <button class="openbtn" onclick="openNav()">☰</button>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="dashboard">Dashboard</a>
                <a href="signin">Mark Attendance</a>
                <a href="attendance_logs">Attendance Logs</a>
                <a href="settings">Settings</a>
                <br>
                <br>
                <br>
                <br>
                <a href="clear_latelog">Clear LateLog</a>
                <a href="clear-user">Clear User</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="heading">
            <img src="{{url_for('static', filename='images/LOGO.jpg')}}" alt="NIESAT Logo" width="100" height="100" />

            <div>
                <h3>NIESAT Control Centre</h3>
                <h4>Kwara State Chapter</h4>
            </div>
        </div>
    </header>


    <div class="row mt-4">
        <h1 class="text-center">Settings</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title toggle-heading" data-target='allow_form' onclick="toggleForm(this)">Allow Attendance</h5>
                <form method="POST" class="ajax-form toggle-form hidden" action="/forms/allow_attendance" id="allow_form">
                    <div class="msg-area"></div>

                    <div class="form-group">
                        <label class="form-label" for="allow_attendance">Status: </label>
                        <span id="allow_attendance"></span>
                        <select class="form-select" id="allow_attendance" name="allow_attendance" required="">
                            <option value="">Select an option</option>
                            <option value="enabled">Enable</option>
                            <option value="disabled">Disable</option>
                        </select>
                    </div>

                    <button class="btn btn-primary" id="submit" name="submit" type="submit">Update</button>
                </form>

                <hr>
                <h5 class="card-title toggle-heading" data-target='attend_time' onclick="toggleForm(this)">Attendance
                    Time</h5>
                <form method="POST" class="ajax-form toggle-form hidden" action="/forms/attend_time_update"
                    id="attend_time">
                    <div class="msg-area"></div>

                    <div class="form-group">
                        <label class="form-label" for="early_start">Early Arrival Start: </label>
                        <span id="early_time"></span>
                        <input class="form-control" id="early_start" maxlength="5" minlength="1" name="early_start"
                            required="" type="time" value="" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="late_start">Late Arrival Start: </label>
                        <span id="late_time"></span>
                        <input class="form-control" id="late-start" maxlength="5" minlength="1" name="late_start"
                            required="" type="time" name="late-start" value="" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="late_end">Late Arrival End: </label>
                        <span id="late_time_end"></span>
                        <input class="form-control" id="late-end" maxlength="5" minlength="1" name="late_end"
                            required="" type="time" name="late-end" value="" required>
                    </div>

                    <button class="btn btn-primary" id="submit" name="submit" type="submit">Update</button>
                </form>

                <hr>
                <h5 class="card-title toggle-heading" data-target='meeting_day_form' onclick="toggleForm(this)">Meeting Day</h5>
                <form method="POST" class="ajax-form toggle-form hidden" action="/forms/meeting_day_update" id="meeting_day_form">
                    <div class="msg-area"></div>

                    <div class="form-group">
                        <label class="form-label" for="meeting_day">Meeting Day: </label>
                        <span id="meeting_day"></span>
                        <select class="form-select" id="meeting_day" name="meeting_day" required="">
                            <option value="">Select a day</option>
                            <option value="sunday">Sunday</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                        </select>

                    </div>

                    <button class="btn btn-primary" id="submit" name="submit" type="submit">Update</button>
                </form>

                <hr>
                <h5 class="card-title toggle-heading" data-target='late-fee-form' onclick="toggleForm(this)">Lateness
                    Fine</h5>
                <form method="POST" class="ajax-form toggle-form hidden" action="/forms/late_fee_update"
                    id="late-fee-form">
                    <div class="msg-area"></div>

                    <div class="form-group">
                        <label class="form-label" for="late-fee">Amount</label>
                        <input class="form-control" id="late-fee-id" name="late-fee" required="" type="number"
                            placeholder="" value="">
                    </div>

                    <button class="btn btn-primary" id="submit" name="submit" type="submit">Update</button>
                </form>

                <hr>
                <h5 class="card-title toggle-heading" data-target="monthly-due-form" onclick="toggleForm(this)">Monthly
                    Due</h5>
                <form method="POST" class="ajax-form toggle-form hidden" action="/forms/due_amount_update"
                    id="monthly-due-form">
                    <div class="msg-area"></div>

                    <div class="form-group">
                        <label class="form-label" for="due-fee">Amount</label>
                        <input class="form-control" id="due-id" name="due-fee" required="" type="number" placeholder=''
                            value="">
                    </div>

                    <button class="btn btn-primary" id="submit" name="submit" type="submit">Update</button>
                </form>

                <hr>
                <h5 class="card-title toggle-heading" data-target="payment-acct-dets" onclick="toggleForm(this)">Payment
                    Account
                    Details</h5>
                <form method="POST" class="ajax-form toggle-form hidden" action="/forms/account_details"
                    id="payment-acct-dets">
                    <div class="msg-area"></div>

                    <div class="form-group">
                        <label class="form-label" for="acct-num-id">Account Number</label>
                        <input class="form-control" id="acct-num-id" maxlength="10" minlength="10" name="acct-num"
                            required="" type="number" placeholder="" value="" pattern="d{10}"
                            title="Must be only ten digits" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="acct-name-id">Account Name</label>
                        <input class="form-control" id="acct-name-id" name="acct-name" required="" type="text"
                            placeholder="" value="">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="bank-name-id">Bank Name</label>
                        <input class="form-control" id="bank-name-id" name="bank-name" required="" type="text"
                            placeholder="" value="">
                    </div>

                    <button class="btn btn-primary" id="submit" name="submit" type="submit">Update</button>
                </form>

                <hr>
                <h5 class="card-title toggle-heading" data-target="change_login_form" onclick="toggleForm(this)">Change
                    username and password</h5>
                <form class="ajax-form toggle-form hidden" action="/forms/change_login" method="POST"
                    id="change_login_form">
                    <div class="msg-area"></div>

                    <div class="form-group">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" id="username" maxlength="15" minlength="5" name="username" required=""
                            type="text" value="" pattern="[a-zA-Z][a-zA-Z0-9]*"
                            title="Username must start with letters and contain only alphanumeric characters" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="passwd">Password</label>
                        <input class="form-control" id="passwd-id" name="passwd" minlength="8" required=""
                            type="password" value="">
                    </div>

                    <!-- <input class="btn btn-primary" onclick="submitForm('/forms/change_login', 'change_login_form')" id="submit" name="submit" type="submit" value="Update"> -->
                    <button class="btn btn-primary" id="submit" name="submit" type="submit">Update</button>
                </form>

            </div>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>
    <div class="popup-container" id="popupContainer">
        <h2>Confirm Submission</h2>
        <p>Are you sure you want to submit the changes?</p>
        <div class="popup-buttons">
            <button id="confirmBtn">Yes</button>
            <button id="cancelBtn">Cancel</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/adminSettings.js') }}"></script>

</body>

</html>