<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3; url=/vote">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/checkStyle.css')}}">
    	<meta http-equiv="refresh" content="3; url= {{ url_for('routes.viewhistory') }}">
    
    <title>Login Successful</title>
</head>
<body>
    <section class="login-complete">
        <h2>Collecting attendance history!</h2>
        <p>Wait a moment...</p>
    </section>
</body>
</html>