<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear Late Log Database</title>
    <style>
        #lateLogForm {
            justify-content: center;

        }

        #statecodeInputDiv {
            display: none;
            margin-top: 10px;
        }

        #submit {
            display: none;
            margin-top: 10px;
            justify-content: center;
        }

        #msgArea {
            margin: 10px;
        }

        main {
            justify-content: center;
        }
    </style>
</head>

<body>
    <h1>Clear user from LateLog Database</h1>
    <main>
        <div id="msgArea"></div>
        <form id="lateLogForm" class="form">
            <div>
                <label for="statecodeSelect">Choose an option:</label>
                <select id="statecodeSelect" name="statecodeSelect" onchange="toggleStateCodeInput()">
                    <option value="">Select option</option>
                    <option value="All">All</option>
                    <option value="specific">Enter State Code</option>
                </select>
            </div>

            <div id="statecodeInputDiv">
                <label for="statecodeInput">State Code:</label>
                <input type="text" id="statecodeInput" name="statecode" placeholder="Enter state code" maxlength="11"
                    minlength="1" pattern="[Kk][Ww]/\d{2}[a-cA-C]/\d{4}"
                    title="Must contain correct and complete statecode: KW/XXX/XXXX">
            </div>

            <button id="submit" type="button" onclick="handleData()">Clear</button>
        </form>
    </main>

    <script>
        // JavaScript to toggle input visibility
        function toggleStateCodeInput() {
            const statecode = document.getElementById('statecodeInput');
            const select = document.getElementById('statecodeSelect');
            const inputDiv = document.getElementById('statecodeInputDiv');
            const btn = document.getElementById('submit');

            if (select.value === 'specific') {
                submit.style.display = 'block';
                inputDiv.style.display = 'block'; // Show input field for specific state codes
            }
            else if (select.value == "All") {
                submit.style.display = 'block';
                inputDiv.style.display = 'none';
                statecode.value = "";
            }
            else {
                submit.style.display = 'none';
                inputDiv.style.display = 'none'; // Hide input field
            }
        }

        function handleData() {
            event.preventDefault();
            const statecodeSelect = document.getElementById('statecodeSelect').value;
            console.log(statecodeSelect);
            const statecode = document.getElementById('statecodeInput').value;
            const form = document.getElementById("lateLogForm");
            //console.log(statecode);

            const url = statecodeSelect === "All"
                ? '/admin/clear_latelogs?statecode=All'
                : `/admin/clear_latelog?statecode=${statecode}`;

            const formData = new FormData();
            if (statecodeSelect === "All") {
                formData.append('statecode', "All");  // For "All", append "All" as statecode
                //console.log("All selected");
            } else if (statecodeSelect === "specific") {
                formData.append('statecode', statecode);  // For specific, append the user-provided statecode
                //console.log("Specific state code entered");
            }

            //console.log(formData);

            fetch("{{url_for('routes.clearLatelog')}}", {
                method: "POST",
                body: formData
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('SERVER ERROR.');
                })
                .then((data) => {
                    msgArea(data.message);
                })
                .catch((error) => {
                    //console.log('Error:', error);
                    msgArea("Failed to clear records!");
                });
        }

        function msgArea(message) {
            const msgArea = document.getElementById('msgArea');
            msgArea.innerHTML = message;
            setTimeout(() => {
                msgArea.innerHTML = "";
            }, 2000);
        }
    </script>
</body>

</html>