<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear Late Log Database</title>
    {% include "base.html" %}
    <style>
        #lateLogForm {
            justify-content: center;

        }

        #statecodeInputDiv {
            display: none;
            margin-top: 10px;
        }

        #submit {
            display: none;
            margin-top: 10px;
            justify-content: center;
        }

        #msgArea {
            margin: 10px;
        }

        main {
            justify-content: center;
        }
    </style>
</head>

<body>
    <h1>Clear user from LateLog Database</h1>
    <main>
        <div id="msgArea"></div>
        <form id="lateLogForm" class="form">
            <div>
                <label for="statecodeSelect">Choose an option:</label>
                <select id="statecodeSelect" name="statecodeSelect" onchange="toggleStateCodeInput()">
                    <option value="">Select option</option>
                    <option value="All">All</option>
                    <option value="specific">Enter State Code</option>
                </select>
            </div>

            <div id="statecodeInputDiv">
                <label for="statecodeInput">State Code:</label>
                <input type="text" id="statecodeInput" name="statecode" placeholder="Enter state code" maxlength="11"
                    minlength="1" pattern="[Kk][Ww]/\d{2}[a-cA-C]/\d{4}"
                    title="Must contain correct and complete statecode: KW/XXX/XXXX">
            </div>

            <button id="submit" type="button" onclick="handleData(event)">Clear</button>
        </form>
    </main>

    <script>
		// Pass the Jinja URL to JS
		const nextUrl = "{{url_for('routes.clearLatelog')}}";
	</script>
    <script src="{{ url_for('static', filename='js/clearLateLog.js') }}"></script>
</body>

</html>