<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear User Records</title>
    <style>
        #userform {
            justify-content: center;

        }

        #detailsInputDiv {
            display: none;
            margin-top: 10px;
        }

        #submit {
            display: none;
            margin-top: 10px;
            justify-content: center;
        }

        #msgArea {
            margin: 10px;
        }

        main {
            justify-content: center;
        }
    </style>
</head>

<body>
    <h1>Clear User from Database</h1>
    <main>
        <div id="msgArea"></div>
        <form id="userForm" class="form">
            <div>
                <label for="actionSelect">Choose an option:</label>
                <select id="actionSelect" name="actionSelect" onchange="toggleDetailsInput()" required>
                    <option value="">Select</option>
                    <option value="attendance">Clear User Attendance</option>
                    <option value="delete">Delete User</option>
                </select>
            </div>

            <div id="detailsInputDiv">
                <div>
                    <label for="statecodeInput">State Code:</label>
                    <input type="text" id="statecodeInput" name="statecode" placeholder="Enter state code" maxlength="11"
                        minlength="1" pattern="[Kk][Ww]/\d{2}[a-cA-C]/\d{4}"
                        title="Must contain correct and complete statecode: KW/XXX/XXXX" required>
                </div>
                <br>
                <div>
                    <label for="nameInput">Last Name:</label>
                    <input type="text" id="nameInput" name="name" placeholder="Enter Last Name" required>
                </div>
            </div>

            <button id="submit" type="button" onclick="handleData(event)">Authorize</button>
        </form>
    </main>

    <script>
		// Pass the Jinja URL to JS
		const nextUrl = "{{url_for('routes.clear_user_logs')}}";
	</script>
    <script src="{{ url_for('static', filename='js/clearUser.js') }}"></script>
    
</body>

</html>