<!DOCTYPE html>
<html>
<head>
	<title>Sign-In Successful</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="3; url= {{ url_for('routes.index') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/thankyouREGstyle.css')}}">
</head>
<body>
	<main>
		<section class="registration-complete">
			<h2>Thank you for attending CDS today!</h2>
			<p>Your attendance has been logged.</p>
			<p>You will be redirected to the homepage in a few seconds...</p>
		</section>
	</main>
</body>
</html>