<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/viewStyle.css')}}">

    <title>View History</title>
    {% include "base.html" %}
</head>
<body>
    <script>
        window.onload = function() {
            document.querySelectorAll('input').forEach(input => input.value = "");
        };
    </script>
</body>
</html>